cabeçalho{
    width: auto;
    display: flex;
    flex-direction: row;
}
.link{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.sejavcmesmo{
    width: 300px;
    height:300px;

}

.fiquebem{
    width: 500px;
}
